[2015-05-02 15:53] zimme commented on #8
@rclai: :+1:

[2015-05-03 17:08] sferoze commented on #6
@frozeman Well when you build your app for Cordova you are expected to input a mobile server address. This is because the DDP package is still part of the mobile app. Currently I have in the client code Meteor.disconnect() so the app does not use the DDP package. But this is still not optimal.

[2015-05-03 17:22] frozeman commented on #6
The client side part generated with `meteor-build-client` also uses `Meteor.disconnect()` to prevent any server connection (which would lead to an endless reload cycle).

Its not ideal, but it works.

[2015-05-06 09:51] zimme opened #72 "Start work on collection:<name> packages"
Hey

I've been working with my packages lately and this got me thinking I wanna start renaming some of my packages and I thought about using the `collection` namespace.

@dandv: Would you mind adding me to the `colllection` organization as I saw that you were one of the maintainers of it.

This is what I have in mind for my own packages:

* `zimme:collection-behaviours` -> `collection:behaviours`

[2015-05-06 09:54] mitar commented on #72
How should we rename PeerDB then? `collection:orm`? :-)

[2015-05-06 10:00] zimme commented on #72
Something like that could definitely work. As I mentioned, discussions are needed around which packages should be integrated into the namespace and under what name they will be integrated. :smile:

edit: The same goes for my packages ofc

[2015-05-06 10:30] rclai commented on #72
This sounds like a good idea.

[2015-05-06 16:21] rurri commented on #6
This is a great idea.

+1

[2015-05-06 18:42] ccorcos commented on #9
Not sure where we should keep this going. I opened up a similar feature request [here](https://github.com/meteor/meteor/issues/4324) for hooks like `CLI.onStart`, `CLI.onStop`, and `CLI.onReset` which would be nice for integrating with other databases. But `Plugin.registerCommand` seems like a good one as well. It seems to me that this shouldn't be too hard to integrate...

[2015-05-06 20:29] matb33 commented on #72
Count me in. Also, @rclai your fork of collection-hooks that uses your collection-extensions is a great idea -- definitely in for that too.

[2015-05-06 20:58] rclai commented on #72
@matb33 I wanted to give you a pull request (even after your tests have passed under it and has been working fine for me), but I'm kind of scared to and don't want other people's stuff to break because of me lol, but maybe this time I will (after I get it synced upstream).

[2015-05-07 15:16] zimme commented on #72
Nice to see that there's some interest in this :+1:

I'm rewriting and renaming `zimme:iron-router-active`, I'll see how that process plays out.
Hopefully it goes well and the experience from this rename/move can be helpful for us with this endeavour.

I'm pubishing a new package `zimme:active-route` and then releasing a new version of `zimme:iron-router-active` which uses and implies `zimme:activ

[2015-05-07 15:35] aldeed commented on #72
I like this idea. Last night @SachaG and I were discussing the need for more of a committee/organization structure around some of the related and oft-used packages (but without giving up too much author control). This could be a good step in that direction for collection packages.

My biggest worry is the transition/renaming. If @zimme can come up with a foolproof plan for that, I'm in. I think MD

[2015-05-07 17:16] zimme commented on #72
Yeah, the renaming/moving is quite a concern. I'll keep you guys updated on the renaming of `zimme:iron-router-active`.

I've already used pretty much the same method when I've integrated Meteor support into the libraries I've wrapped before. [`vodkabears:vide`](https://atmospherejs.com/vodkabears/vide) was [`zimme:vide`](https://atmospherejs.com/zimme/vide) and [`mouse0270:bootstrap-notify`](http

[2015-05-07 22:33] SachaG commented on #72
Sounds like a great idea. And I'm happy to take PRs to implement these packages in Telescope, that can be a good way to bring more attention to them.

[2015-05-11 05:33] mitar opened #73 "Who has "component" namespace?"
As you might know, I developed [Blaze Components](https://github.com/peerlibrary/meteor-blaze-components). I think it would be cool if they would be under their own namespace. So my question is, is there a way to know who has "component" organization registered in Meteor namespace? And how we could arrange to use it for Blaze Components. :-)

[2015-05-11 06:26] zimme commented on #73
I think there's a good change @dandv reserved it (for componentjs?). He registered a lot of organizations when he took the 3rd party library packaging initiative.

[2015-05-11 06:28] zimme commented on #73
But as component is using componentjs as the github organization I don't see a problem giving you access to the component organization.

[2015-05-11 06:28] mitar commented on #73
And who has ACME. :-) I want to start something like [Perl's ACME](https://en.wikipedia.org/wiki/Perl#CPAN_Acme). :-)

[2015-05-11 21:58] dandv commented on #73
Unfortunately it's not me. I'd be happy to give out the names to people who _do_ something with them - the whole reason I've registered ~150 organizations. Whoever owns `component` and `acme` hasn't even bothered to create an atmospherejs.com page. @mitar, I've added you to componentjs and acmejs. Not as hip though.

[2015-05-12 00:18] mitar commented on #73
Not as hip, not as hip. :-) Also, my components are more componentcs as in coffeescript. ;-) Thanks though.

There should be a way to contact organization owners. :-(

[2015-05-12 04:44] zimme commented on #73
If we're unlucky enough, `collection` might be a meteor user and not an organization.

Maybe post a request for the namespace in the forums and see if the "culprit" sees it.

[2015-05-12 21:02] dandv commented on #73
Someone at MDG could be kindly asked to forward an email request to the owner.

[2015-05-12 21:04] mitar commented on #73
I asked here: https://github.com/meteor/meteor/issues/4360

[2015-05-16 13:37] dvc94ch commented on #14
Hi
I'm following the steps for adding meteor integration to Jasny Bootstrap. Since I'm only a weekend programmer I think I made kind of a mess of things. So instead of creating an organization called jasny I created a new user account called jasny. I already published a package called jasny:bootstrap. Can someone tell me how to fix my error before submitting a pull request to jasny/bootstrap? The

[2015-05-16 14:54] zimme commented on #14
@dvc94ch: Just give the meteor account with username jasny to @jasny and it should be fine?

[2015-05-16 14:57] dvc94ch commented on #14
That's what I was planning on doing, but how do I go about adding meteorpublish?

[2015-05-16 15:00] zimme commented on #14
you'll just add that account as a maintainer for the project

`meteor admin maintainers --add meteorpubish jansy:bootstrap` or something like that, you don't make meteorpublush a organization member

[2015-05-16 15:32] dvc94ch commented on #14
@zimme Ok thank you, I did just that and submitted the pull request.

On a related subject, is there a recommended pattern for configurable meteor integration like Nemo64/meteor-bootstrap does? Or should this be a `meteor bundle` feature for removing unused code? Or are we waiting to see what "New way of defining packages/apps and controlling file load order" on the meteor roadmap brings?

[2015-05-16 17:24] splendido commented on #14
Well done @dvc94ch!

[2015-05-16 17:32] zimme commented on #14
If you use autopublish.meteor.com then .versions file becomes somewhat hard to maintain. This is because the .versions file gets updated with the `meteor publish` command. When we're using autopublish.meteor.com it's the servers which run the command on a clone of the repository and the .versions file is created in that clone and not commited into your github repo.

Regarding the package configura

[2015-05-16 17:51] zimme opened #74 "Utilities namespace"
Hey @SachaG

What's the plan for the `utilities` namespace?
I see you've published the avatar package under the namespace.
Should we use it for any general purpose utility?

[2015-05-16 17:56] zimme commented on #72
@dandv, would you consider giving me access to the `collection` namepsace for this purpose?

I assume you're sitting on the namespace as your Github is linked on it's atmosphere page.

@dburles, I also saw that you were mentioned on the page, do you have access to the namespace?

[2015-05-16 19:15] dvc94ch commented on #14
@splendido @zimme Thank you

[2015-05-16 22:41] SachaG commented on #74
Yeah, I did. I was hoping to get 2-3 other packages published under the namespace before making any kind of official announcement.

Just to bring people here up to speed: inspired by the talks of a `collections` organization, I created a `utilities` organization for things like the avatar package, spinner package, etc.

The problem with names like `sacha:spin` is that it makes it harder for others

[2015-05-17 16:17] zimme commented on #74
Yeah, pretty much in the same lines as I was thinking about the `collections` namespace.

Just a note. You have the option as a maintainer of a package, say `sacha:spin`, to add another meteor account as a maintainer to the package under the same name, which makes it possible for another person to publish under that package name.

But still it's a nice initiative, I just hope I'll get access to th

[2015-05-18 00:43] SachaG commented on #74
Oh yeah, I know I can add other maintainers. But the situation that prompted me to create `utilities` was that the maintainer for a package I use simply stopped answering emails or issues, so he wasn't able to add me.

[2015-05-18 05:43] zimme commented on #74
Yeah, I get it. I've been there too :stuck_out_tongue_closed_eyes:

So do you have any thoughts on if we're going to try and work out of some Github organization or just from our own repos?

My first thought is that it would be nice to work out if MeteorCommunity or MeteorDevelopmentCommunity or something, I feel MeteorPackaging is more for the 3rd party library effort.

This also relates to #72,

[2015-05-18 05:44] zimme commented on #74
I'm also sitting on the `mdc` namespace, short for Meteor Development Community

[2015-05-18 05:57] SachaG commented on #74
I'm fine either way. A GitHub org would make sense, but I think it'll be easier to start with letting people keep their existing repo if they want to.

[2015-05-18 11:47] jasny commented on #14
Great you're bringing Jasny Bootstrap to Meteor. Is anything expected of me?

[2015-05-18 11:58] dvc94ch commented on #14
@jasny It would be nice if you could do the following:)
1. Review and merge the pull request.
2. Take over the meteor developer account named jasny. If you give me your email I can change account email and click on forgot password.
3. Configure the autopublish.meteor.com webapp with a github hook per the instructions in the pullrequest for auto publishing the package when you add a new release tag

[2015-05-23 22:53] mitar opened #75 "check patterns"
Meteor comes with a limited set of [check patterns](http://docs.meteor.com/#/full/check_package). We made a package with an extended set of them: https://github.com/peerlibrary/meteor-check-extension

Feel free to contribute yours.

[2015-05-24 08:10] dandv commented on #75
First star!

[2015-05-27 10:00] mitar commented on #72
So I was thinking of renaming PeerDB then to `collection:odm`?

[2015-05-27 15:55] merunga commented on #55
I made my code start working with  the `flow` command using `grigio:babel` with the `/* @flow */` and types annotations, without meteor complaining about them. But 2 issues made me quit it:
- first, you have to define all Meteor APIs as described [here](http://flowtype.org/docs/third-party.html), which is a pain.
- the other problem is related the way meteor export variables: `flow` won't find loc

[2015-05-29 21:09] trusktr commented on #14
Meteor's packaging system isn't generic for use with libraries in a framework-agnostice way, it's specific to the Meteor ecosystem, so I believe PRs like [this one](https://github.com/RubaXa/Sortable/pull/115/files) shouldn't be necessary. Instead, I believe it should be Meteor's (or a Meteor package's) responsibility to allow Meteor users to use external libraries in the ways that the JavaScript

[2015-06-01 09:47] zimme commented on #72
So I just released [`zimme:active-route@2.0.0`](https://atmospherejs.com/zimme/active-route). It's `zimme:iron-router-active` which has been renamed, let's see if it's a recipe for success or disaster.

If all goes well with this rename, hopefully people will be more inclined to join this namespace.

[2015-06-11 06:47] ccorcos commented on #14
@splendido, @dandv, @kevohagan

Any update on `ramda:ramda`?  `kevohagan:ramda` is on v0.13.0, and Ramda is now on v0.14.0

[2015-06-11 19:49] mikebe11 commented on #14
Hello,
We received a PR to add official Meteor integration to our library, which we merged. To continue the process the folks who proposed it advised us to create a Meteor.com account and create and organization. My blunder was to create the account with the organization name as the username. Can someone help to change the username on the account so we can continue with the integration?
Thanks in

[2015-06-11 19:54] zimme commented on #14
I'm pretty sure there's no way for us mere mortals to help you change this, your best bet would probably be to open an issue about it on meteor's github repo.

Hopefully someone from MDG can help with this.

I might have missed something if so please feel free to correct me guys

[2015-06-11 20:07] zimme commented on #72
@mitar, unless there are some other "big" packages which do the same thing as peerdb does then I'm all for having peerdb become `collection:odm`, but if there are other packages which do "the same" I think a discussion around the subject is needed.

[2015-06-12 02:44] aldeed commented on #72
I think of the `collection:` packages being mix-n-match small packages while packages like peerdb and astronomy are a more all-in-one approach. I could be wrong, though.

[2015-06-12 07:00] splendido commented on #14
To my best knowledge, unless you already published a package under the same namespace, you can contact MDG and ask to convert from user to organization or even vice versa.
...they're going to do it by hands though.

What thay cannot do is modify the kind of account in case there's already published a package with it.

[2015-06-12 07:01] zimme commented on #72
That is a valid point @aldeed

But where would we draw the line?

[2015-06-12 07:05] splendido commented on #14
@mikebe11, in case you're interested in avoiding to have to manually publish new packages version at new releases, I'm putting a bit of effort on [autopublish.meteor.com](https://autopublish.meteor.com/).
Feel free to subscripe your package too!

I wonder why @marceloschmidt didn't directed you there yet ;-)

[2015-06-12 07:10] splendido commented on #14
@ccorcos, I might have lost something...
Do we already set up a repository on MeteorPackaging for `ramda:ramda`?
...or is there any pending PR to get official integration?

[2015-06-12 07:18] dburles commented on #72
I'm actually not sold on this idea as it seems to conflict with/break the intention of the author/organisation naming convention by now depicting a kind of ‘category’ rather than an organisation, which then raises a bunch of questions. It feels like it's a kind of side-step, given the packaging servers lack of categorisation.

[2015-06-12 07:33] zimme commented on #72
@dburles That's something I hadn't thought about and it's a good point.

I'm open to maybe do this under som other namespace, which is more like an organisation in that sense.

[2015-06-12 07:48] mikebe11 commented on #14
Thanks @zimme @splendido
Once I get the new account straightened out @engelgabriel and perhaps @marceloschmidt too will assist with finishing the integration. Having the ability to auto publish sounds great.

[2015-06-12 17:45] trusktr commented on #14
@splendido Wow, thanks!! I just discovered autopublish.meteor.com.

[2015-06-13 00:21] ccorcos commented on #14
@splendido I'm not seeing it: https://github.com/MeteorPackaging?utf8=✓&query=ramda

[2015-06-13 20:43] splendido commented on #14
@ccorcos, should we start the wrapping process than?
I guess @kevohagan might be available to support it.

At the moment it appears [there are at least three wrappers](https://atmospherejs.com/?q=ramda) for ramda, it might be a good time to squash them into an official one ;-)

[2015-06-13 21:07] ccorcos commented on #14
haha tell me about it! it should be really easy. They have a distribution file:

https://github.com/ramda/ramda/blob/master/dist/ramda.js

And the package.js just needs to export R to the client and the server.

[code]

[2015-06-13 21:20] splendido commented on #14
ok, I'll set up a repo and a team on MeteorPackaging organization then...
I'll be back to you soon!

[2015-06-13 23:20] splendido commented on #14
@ccorcos, @kevohagan, @dandv, [here](https://github.com/MeteorPackaging/ramda-wrapper) we go!
...I also fixed the export for 'R' wich was not correct ;-)

To test it out simply:
- git clone https://github.com/MeteorPackaging/ramda-wrapper.git && cd ramda-wrapper
- npm install
- gulp getUpstream
- gulp test

@ccorcos I added you to the `ramda` organization on `meteor.com`, feel free to publish afte

[2015-06-15 02:05] ccorcos commented on #14
@splendido thank you! I'm not sure how all this autopublish stuff works with gulp and whatnot but it seems to work. Just published it :)

[2015-06-15 03:19] engelgabriel commented on #14
Please @dandv and @splendido add me to the MeteorPackaging organization, I want to package:
Autolinker.js https://github.com/gregjacobs/Autolinker.js
emojione https://github.com/Ranks/emojione

I am gabrielengel at Meteor.com

[2015-06-18 21:48] ccorcos commented on #14
Due to the fact that Meteor overrides the `_` global variable to underscore.js, I think the `lodash:lodash` package ought to export to lodash. Otherwise the package is totally useless.

[2015-06-19 16:35] trusktr commented on #14
@ccorcos Remove the underscore package.

[2015-06-19 19:48] ccorcos commented on #14
@trusktr haha, that makes sense!

[2015-06-23 10:23] afareed007 commented on #27
Running micro services for different sections of app on different ports could be a better solution as of now.

[2015-06-23 12:45] dandv commented on #27
@numtel's two packages have become https://github.com/numtel/meteor-lazy-bundles.

@ahmadthd: how would that help with loading `client` files, e.g. templates and their JavaScript, on demand?

[2015-06-30 10:59] zimme commented on #72
Ok, so from the discussion here and how my effort with renaming `zimme:iron-router-active` to `zimme:active-route` has gone, I think we will skip the renaming part of this. @dburles brought up a very valid point about using the `collection` and general namespaces like this.

When Meteor have support for renaming packages for real the discussion about using a common namespace for our packages might

[2015-06-30 11:04] zimme commented on #74
So @dburles brought up a very valid point on using general namespaces like this in [#72](https://github.com/MeteorCommunity/discussions/issues/72#issuecomment-111390011), what are your thoughts on this?

[2015-07-01 02:24] SachaG commented on #74
I don't really have much thoughts on his point to be honest. The main problem I'd like to fix is end users having to change their `.packages` file when the package's maintainer changes.

That doesn't really make any sense to me. I feel like packages should have a unique name, and as a package author I should be able to transfer my package to somebody else without any extra work on the user's part.

[2015-07-02 12:32] djhi commented on #14
@dandv and @splendido:

I just released [mediumeditor:mediumeditor](https://atmospherejs.com/mediumeditor/mediumeditor) and deprecated the old [gildaspk:medium-editor](https://atmospherejs.com/gildaspk/medium-editor).

I made a pull request on their repository [here](https://github.com/yabwe/medium-editor/pull/718) and am waiting for their approval.

[2015-07-06 06:23] rbabayoff commented on #9
How about, similar to what atmosphere did before meteor officially supported their packaging api and created their package server, have the community create a release track for meteor that includes the [Plugin.registerCommand PR](https://github.com/meteor/meteor/pull/2718), and every time meteor publishes a new release this release track get's updated. Then, you can just run your commands using:

[2015-07-10 10:30] lifeinchords commented on #11
+1

[2015-07-15 01:38] methodbox commented on #14
Is this still being maintained by MDG? I only ask because in the initial description you say you're looking for Bootstrap (twbs:bootstrap), among others, which are already available from Atmosphere.

[2015-07-15 05:15] zimme commented on #14
@methodbox,
This isn't maintained by MDG, and never was. It's just some of us from the community which started to work together to get "Official" support from the authors/maintainers of 3rd party libraries for meteor packages.

And we still do the work, it has just stagnated a bit because most of the "big" useful libraries have gotten either "Official" packages or very good wrapper packages which

[2015-07-15 12:18] methodbox commented on #14
@zimme Thanks for the info!

I wanted to try my hand at porting a library.  Is there an updated list of needed packages somewhere?

Just trying to make myself useful to the Meteor community!

[2015-07-15 12:26] zimme commented on #14
Just search for the library you wanna "port" on [Atmosphere](https://atmospherejs.com) and see if there are any packages already.

If there are and it's not the "Official" one from the author of the library, then look at the package and see if it adds any Meteor specific stuff, if it does then it's probably better to have it as it. If not, then try and package up the library properly and send a PR

[2015-07-15 12:29] zimme commented on #14
We should really try and write up some good guidelines for creating packages incl. "wrapper" packages for 3rd party libraries which should go on some official MDG site.

[2015-07-15 22:04] methodbox commented on #14
Agreed. I've noticed some packages don't properly integrate with Meteor in a way that makes them immediately available.  This is probably due to whoever is porting these from actually understanding how Meteor works.

I say this because I've had to call a function to get a given lib to initiate.  It is easily found by Meteor, but it's the equivalent of having to do `$(document).ready` to start usin

[2015-07-16 06:17] zimme commented on #14
Well, a lot of jQuery plugins is depending on the `DOM` being rendered and as Meteor renders stuff when needed (reactively) the `DOM` is most likely not ready at startup so you will need to initiate a lot of plugins in an `onRendered` function

[2015-07-17 09:15] marcodejongh opened #76 "Oplog tailing on sharded mongo"
So from what I understand of a [old discussion on google groups] (https://groups.google.com/forum/#!topic/meteor-core/G_Hgca1xi_8) oplog tailing on a sharded mongo is hard but not impossible.

Has anyone since then tried to get oplog tailing to work on a sharded mongo? I'm having a very hard time finding more information about how to do this.

@awatson1978

[2015-07-29 13:39] sdomagala commented on #6
Any idea if you can make some kind of routing for client-side only?

[2015-07-29 13:40] frozeman commented on #6
Use iron-router or flow-router.

[2015-07-29 13:48] sdomagala commented on #6
Obviously, I forgot to say I don't wanna use meteor for it, just blaze for static content

[2015-07-29 15:45] frozeman commented on #6
Look at my tool: https://www.npmjs.com/package/meteor-build-client

This lets you develop you app with meteor, and get on the end static files with index.html ;)

[2015-07-29 23:05] splendido commented on #14
@engelgabriel,
please open a new issue [here](https://github.com/MeteorPackaging/discussions/issues) for each package you'd like to wrap.

@djhi, well done! I'll try to follow aside...
EDIT: just saw the PR was rejected! Please open an issue at the above link and we'll create a wrapper like  [jspdf-core-wrapper](https://github.com/MeteorPackaging/jspdf-core-wrapper).

[2015-08-08 09:23] rodleviton commented on #14
Hi @dandv and @splendido I would like to package up the vex modal library https://github.com/HubSpot/vex

Cheers

[2015-08-08 18:35] trusktr commented on #14
Hey guys, instead of spending time to make and maintain wrapper packages, you can use [`rocket:module`](http://atmosphere.com/rocket/module) to get the packages for you from npm. It works for both server and client sides.

[2015-08-08 18:36] trusktr commented on #14
`rocket:module` might also support versioned packages from GitHub (or anywhere) in the near future.

[2015-08-09 06:36] splendido commented on #14
@trusktr I haven't had time to check out `rocket:module` yet, but the idea seems great!
Well done!

[2015-08-09 07:32] dandv commented on #14
I also like the idea of `rocket:module` and not polluting Atmosphere, but the problem is discoverability. If we don't adding a package for the `vex` library (in this case), users searching for "modals" won't find it on Atmosphere.

One way to solve this would be for Atmosphere to have a pass-through to npmjs, displaying hits from there under its own perhaps. I've created an issue there and also on

[2015-08-10 02:06] methodbox commented on #14
It would seem the real solution is a call back update to Atmosphere from rocket.

Wrap with rocket and add to Atmosphere in one fell swoop.  If rocket maintains a common naming syntax with versioning it should be able to check if the third party package has already been wrapped and added on Atmosphere, preventing duplicates.

[2015-08-14 20:17] callmephilip commented on #14
@djhi @dandv @splendido : do you guys have any thoughts on going forward with medium-editor package since the PR has been refused (https://github.com/yabwe/medium-editor/pull/718)? i was forced to republish the latest version of the editor under our org's [namespace](https://atmospherejs.com/thebakery/medium-editor) since @djhi's package was a bit behind . i've just got hold of **yabwe** org name

[2015-08-19 13:46] MomchilGorchev commented on #24
Solid +1

[2015-08-20 05:22] mdijoux commented on #14
@djhi @dandv @splendido: I own several organizations but I don't have the time to contribute. So I would like to give you ownership for future contributors. Is it possible? These organizations are:
- leafletjs
- mapbox
- systemjs

[2015-08-20 08:16] zimme commented on #14
@Cram974, Log in to http://meteor.com, Go to the Organizations page on My Account. Choose edit members and add dandv, splendido, zimme, and who ever else you want =)

[2015-08-21 14:07] TomBrouws commented on #24
This would be enormously helpful!

[2015-08-21 19:58] splendido commented on #14
@callmephilip lets start to build repositories like [jspdf-core-wrapper](https://github.com/MeteorPackaging/jspdf-core-wrapper) and [jspdf-AutoTable-wrapper](https://github.com/MeteorPackaging/jspdf-AutoTable-wrapper) then wou can transfer the ownership to [MeteorPackaging](https://github.com/MeteorPackaging) and we'll find the way to keep everything up to date!

I have to write a few instructions

[2015-08-28 11:14] joaobarcia commented on #24
+1 ! +2 actually

[2015-08-28 13:58] yves-christol commented on #24
Definitely useful for more elegant templates

[2015-08-28 22:00] slinke commented on #14
Is Enchant.js (https://github.com/wise9/enchant.js) eligible for integration?  (I'm not sure about licensing?)  If so, I'd like to pick it up.  Thanks.

Could also be: https://github.com/uei/enchant.js-builds ... build ready.

[2015-09-08 03:55] ccorcos commented on #14
I think the momentjs pacakge should include moment-timezone by default: http://momentjs.com/timezone/

[2015-09-14 21:12] digitalfrost commented on #14
@dandv and @splendido please add me to the MeteorPackaging organization, I want to package:
bootstrap-datetimepicker https://github.com/Eonasdan/bootstrap-datetimepicker

[2015-09-14 21:32] acloudburo commented on #24
+1

[2015-09-15 07:27] splendido commented on #14
@slinke, @digitalfrost I think the best way to proceed from now on is to prepare wrapper packages in advance and once everything's ready transfer ownership for the repositories to MeteorPackaging.

Please have a look at [this _new_ guide](https://github.com/MeteorPackaging/autopublish.meteor.com/wiki/Wrapping-3rd-Party-Packages) I'm trying to set up and try to prepare a repo for the libraries you'

[2015-09-15 07:28] splendido commented on #14
@ccorcos would it be a problem to have `momentjs:timezone` as a separate package?

[2015-09-15 16:57] ccorcos commented on #14
No that would be fine. I just think its weird they separate them in the first place!

[2015-09-15 20:14] splendido commented on #14
@ccorcos could it be that someone could live without it? ...would the payload be any leaner?

If we agree we could have it as a separate package, we'll have to decide whether to make another PR to get official integration (which is likely to be accepted...), or rather wrap it like I'm suggesting for other libraries in the [above comment](https://github.com/MeteorCommunity/discussions/issues/14#iss

[2015-09-15 20:16] zimme commented on #14
I think upstream support is always preferrable unless lots of meteor
specific stuff will be added

On Tue, Sep 15, 2015, 10:14 PM Luca Mussi notifications@github.com wrote:

[2015-09-15 20:40] splendido commented on #14
[These are the tasks](https://github.com/moment/moment/blob/develop/Gruntfile.js#L132-L151) used right now by moment's maintainers to manually publish `momentjs:moment`.
The [meteor folder](https://github.com/moment/moment/tree/develop/meteor) is where all meteor related files were put...

I guess it should be easy enough to get the same done for `momentjs:timezone`

[2015-09-15 23:58] ccorcos commented on #14
yeah. they may like it to be separate though. if theres no harm in having two then why not.

[2015-09-18 22:27] themeteorchef commented on #14
@dandv and @splendido can you add me to the org? I want to get an official package in place for Stripe and it looks like you may have the namespace.

Forked [this](https://atmospherejs.com/mrgalaxy/stripe) (which doesn't get any updates/communication from maintainer) and bumped to latest versions. Would like to see that it gets updated and get it under an official namespace if possible.

My fork:

[2015-09-19 06:46] splendido commented on #14
@themeteorchef do you think it could be possible to avoid the use of `Npm.depends`?

You could prepare a wrapper package following the [above comment](#issuecomment-140304061) and let us know when you're ready so to move it under MeteorPackaging and possibly keep it auto updated with autopublish.meteor.com

I confirm `stripejs` is available for use.

[2015-09-20 20:39] themeteorchef commented on #14
@splendido sure, give me a few days here to take a look at the examples from that comment and get it working. Will let you know when it's ready to go :)

Thanks!

[2015-09-21 13:59] machwatt commented on #24
+1 can't wait for it

[2015-09-21 14:04] joaobarcia commented on #24
Hi guys, just to let everyone @index is available in 1.2 release candidate and works quite well :)

More info at https://forums.meteor.com/t/help-test-the-preview-release-with-new-upcoming-blaze-features-each-in-let-index/637

I don't think @first, @last, @odd and @even are being implemented, though

[2015-09-21 14:06] bellwood commented on #24
C'mon meteor, chip chop chip!

[2015-09-21 14:19] zimme commented on #24
@joaobarcia, with index, doing first, last, odd and even isn't that hard when you need it. So I don't think it's a priority for MDG

[2015-10-01 08:22] apendua commented on #14
@dandv @splendido I would like to "officially" package the [later](https://github.com/bunkat/later) library and mark this old wrapper:

https://github.com/apendua/meteor-later

as deprecated. FYI I've already reserved `later` organization.

[2015-10-01 20:28] splendido commented on #14
@apendua see [my last comment above here](https://github.com/MeteorCommunity/discussions/issues/14#issuecomment-141631283) and let us know if you need more pointers!

Simply make a wistle when you have something ready to transfer under MeteorPackaging.

[2015-10-05 10:56] veob commented on #8
Hey, guys.
https://raw.githubusercontent.com/lodash/lodash/3.7.0/lodash.min.js is 50kB, not 18kB (latest too). What am I doing wrong?

[2015-10-05 13:49] jdalton commented on #8
It's gzipped to 18kb.

Since folks seem to be concerned with file size you all may dig that lodash v4 will ship with a 4kb build (thats +1kb smaller than Underscore) while still supporting Backbone and packed with 60+ methods.

[2015-10-05 19:09] veob commented on #8
Ah, okay. Thank you :+1:

[2015-10-06 06:47] jdalton commented on #8
Since folks seem to be concerned with file size, lodash v4 will ship with a 4kb build (thats more than 1kb smaller than Underscore) while still supporting Backbone and packed with 60+ methods.

[2015-10-10 16:50] fabyeah commented on #7
+1

[2015-10-13 15:32] thpham commented on #7
+1 really urgently needed !

[2015-10-15 19:43] cesarve77 commented on #24
+1

[2015-10-20 21:02] 4Z4T4R commented on #14
@dandv and @splendido --- Please add me (@toszter) to the MeteorPackaging organization. I'm packaging [cycle2](https://github.com/malsup/cycle2) locally until you give me access to the universe. :)

[2015-10-21 19:40] splendido commented on #14
@toszter could you please have a look at my last comment above your one?

[2015-10-23 17:23] psychoph commented on #14
@dandv and @splendido can you add the angluar-ui bootstrap (https://github.com/angular-ui/bootstrap)  package as a pull request? I see there is a fork of angular-ui/ui-router and the angular-ui bootstap library has 3 or 4 versions in atomsphere all of them are behind by several releases. The angular meteor group has a tutorial at http://angular-meteor.com/tutorials/angular1/css-less-and-bootstrap

[2015-10-25 02:52] mitar commented on #14
Hm, [velocity](https://github.com/julianshapiro/velocity) package is not updated on [Atmosphere](https://atmospherejs.com/velocityjs/velocityjs)? I thought it should be updating automatically?

[2015-10-25 17:33] trusktr commented on #14
Hey all, good news: ES6 modules are work in progress, so soon enough it'll be easy to import many of these libraries without needing to make wrapper packages. https://github.com/meteor/meteor/pull/5475

[2015-10-28 00:58] ccorcos commented on #14
I'd highly recommend just using `webpack:webpack`

[2015-11-16 06:56] raix commented on #53
Is it resolved? :)

[2015-11-16 06:59] mquandalle commented on #53
Nope, but I should move it to the main meteor repo. Let's reopen until that.

[2015-11-19 07:41] raohuaming commented on #14
@dandv @splendido, I am considering to wrap mathquill, a library to make typing math on web as easily as writing, so could you please add me to MeteorPackaging organization ?

Please refer to https://github.com/raohuaming/mathquill/tree/meteor-integration, and see if that looks good.  thx a lot

[2015-11-19 20:42] sandervanhooft commented on #24
+1 . These array template features would be great!

[2015-11-20 01:07] zurbchris commented on #14
Hey guys, anyone interested in helping us get [Foundation for Sites 6](https://github.com/zurb/foundation-sites) ready to rock on Meteor? We've never set up a Meteor package before and we want to make sure we do it properly, with auto updates, etc.

[2015-11-20 01:37] juliancwirko commented on #14
@zurbchris Hi, I think that now the 'zurb:foundation-sites' package should work well. You need to remember about package.js file - versions, the scss file list in 'api.addFiles' need to be up to date. I think there is no need for this kind of auto packaging. You have your own 'Zurb' organisation on atmosphere so everything is ready to go. You just need to change the version in the package.js file

[2015-11-20 17:36] zurbchris commented on #14
Thanks @juliancwirko we hope everyone likes it. I just want to make sure we are doing what we need to do to give the Meteor community access to the framework. Though we may ask for assistance in doing so from time to time :smile:
Let me know if there's anything we can improve on the package.
Cheers,
- Chris

[2015-11-22 17:34] splendido commented on #14
@zurbchris just in case you don't want to manually run `meteor publish` at every new release, or just simply don't want to run it on your servers, there's [autopublish.meteor.com](https://autopublish.meteor.com/) that can do it for you!
(Disclaimer: I've written it...)

It's working just fine for a number of packages, just let me know if you're interested to get more details.
I'll be happy to help

[2015-11-27 21:55] dmihal commented on #14
@dandv and @splendido would it possible to be added to the MeteorPackaging organization? I'm currently working on packaging [gitgraph.js](https://github.com/nicoespeon/gitgraph.js), and I'm sure I'll be able to contribute more packages going forward! Thanks.

[2015-11-30 22:36] mizzao commented on #14
I recently happened upon the nice demo at https://deck-of-cards.js.org/ ; since I wanted to use cards in a Meteor app I started a PR at https://github.com/pakastin/deck-of-cards/pull/26 and it would be nice to be able to transfer my fork into MeteorPackaging.

This would be very nice for creating card games and other fun stuff.

[2015-12-02 17:15] andrei-markeev commented on #24
+1 Implementing it manually every time is quite bulky, especially the @last test.

[2015-12-05 23:06] ayhid commented on #14
@dandv , @splendido I am working on a package for [seiyria/bootstrap-slider](https://github.com/seiyria/bootstrap-slider), could you please add me to the MeteorPackaging organization. It will be my first contribution and hope not the last.

[2015-12-07 19:46] bellwood commented on #24
@andrei-markeev it's not even documented (that I've seen) how to manually implement them... If they can't be bothered to add a basic core feature then they should at least document the work-around.

My high hopes for meteor have slowly dwindled as core features have gone missing and non-document based data stores have gone on officially unsupported

Such great potential

[2015-12-10 11:58] maxenceC commented on #14
@dandv , @splendido , Can you please add me to the MeteorPackaging organization ? I want to package those librairies :
- First : feross/simple-peer, https://github.com/feross/simple-peer
- Then : contra/rtc-everywhere, https://github.com/contra/rtc-everywhere, which depends on the first one.

Thank you !

[2015-12-10 11:59] mitar commented on #14
Oh yes, I was just yesterday looking into packaging simple-peer, but then I discovered that it does not support MediaStream on the server, so I gave up.

[2015-12-10 12:12] maxenceC commented on #14
@mitar :

Sorry, but I don't really get it : Isn't simple-peer only client-sided ? Why should a meteor wrapper for simple-peer contains server code ? ( I might not understand at all what you meant).

In order to not pollute this thread with messages about a simple-peer wrapper for meteor, how can I send you messages ? If you have some time to spare, I'll might have some questions ? (As you've alre

[2015-12-10 12:33] mitar commented on #14
No no! The beauty of simple-peer is that [it works in node.js](https://github.com/feross/simple-peer#in-node) as well! And this allows a complete new programming paradigm, namely that you can simply use WebRTC for all data transmissions, so server is then only one peer, and you can have client-server, server-server, client-client communications, all with same technology. Even more, connections can

[2015-12-10 12:38] mitar opened #77 "WebRTC support for Meteor"
Some my thoughts from [here](https://github.com/MeteorCommunity/discussions/issues/14#issuecomment-163590560):

The beauty of [simple-peer](https://github.com/feross/simple-peer) is that [it works in node.js](https://github.com/feross/simple-peer#in-node) as well! And this allows a complete new programming paradigm, namely that you can simply use WebRTC for all data transmissions, so server is the

[2015-12-10 12:38] mitar commented on #14
Opened jsplumb/community-edition#143. So yea, I think that WebRTC in Meteor can be quite a deal and a big paradigm shift.

[2015-12-10 12:42] mitar commented on #77
I opened a ticket: https://github.com/meteor/meteor/issues/5772

[2015-12-10 12:47] derwaldgeist commented on #77
+1

I would love to see native WebRTC support in Meteor.

[2015-12-10 13:20] maxenceC commented on #14
@mitar

Thank you for your answer ! Helped me a lot understanding the exact point of simple-peer

[2015-12-10 14:44] angusmcleod commented on #77
+1 this would be awesome.

We're trying to set up production-ready webRTC with a meteor app currently.

[This useful google doc](https://docs.google.com/document/d/1idl_NYQhllFEFqkGQOLv8KBK8M3EVzyvxnKkHl4SuM8/edit) collects a lot WebRTC resources if people are interested.

[2015-12-10 16:54] shtefcs commented on #77
:+1:

[2015-12-14 21:51] AddoSolutions commented on #7
+1

[2015-12-15 10:21] mperkh commented on #14
@dandv , @splendido , Can you please add me to the MeteorPackaging organization ? I want to package this library:
- jaysalvat/vegas, https://github.com/jaysalvat/vegas

Here is my work so far:
- https://github.com/mperkh/vegas/tree/meteor-integration
- https://atmospherejs.com/las/vegas

Thank you !

[2015-12-29 16:04] PolGuixe commented on #14
@dandv , @splendido I have packaged [Clipper.js](http://sourceforge.net/projects/jsclipper/?source=typ_redirect).
Work done so far:
*https://atmospherejs.com/polguixe/meteor-clipperjs
*https://github.com/PolGuixe/meteor-clipperjs/

I want to do it the right way, however the library is hosted in Sourceforge and not in Github. Will it be an issue?

[2015-12-30 08:58] splendido commented on #14
Hey guys,
Meteor 1.3 with support for NPM packages will be released soon.
I suggest to use wrapper packages as local ones for now and see what happens in the next weeks.

It might be that we won't need wrapper packages and autopublish.meteor.com anymore!

[2015-12-30 09:02] zimme commented on #14
autopublish is pretty nice for pure meteor packages too, but it's not the end of the world if I don't have it =)

Some "wrapper" packages are still gonna be needed, for example https://github.com/rzymek/meteor-fullcalendar.

However these kinds of package could just have weak dependencies too, but if there are packages that wrap npm modules with meteor specific code, I don't think you can have wea

[2015-12-30 09:03] zimme commented on #14
Also client-side only wrappers?

i.e. non-npm

[2015-12-30 09:14] splendido commented on #14
Honestly I still had no time to look well into 1.3...  :-(

[2016-01-01 21:19] fvpDev commented on #24
+10

[2016-01-08 22:45] mquandalle commented on #56
`import`/`export` is in the work and will be released as part of Meteor 1.3.

[2016-01-08 22:45] #56 closed

[2016-01-26 18:48] mitar commented on #34
I made a package for this: https://github.com/peerlibrary/meteor-user-extra

It also allows one to use `Metor.userId()` everywhere on the server-side. So you can have unified code.

[2016-01-26 18:48] #34 closed

[2016-01-26 18:53] mitar commented on #2
I think this pull request which was recently merged could help a bit: https://github.com/meteor/meteor/pull/5845

[2016-01-28 08:55] jamiter commented on #55
It's already in the ecmascript package: https://github.com/meteor/meteor/blob/devel/packages/ecmascript/README.md#syntax

Search for "flow".

[2016-02-09 17:38] mitar commented on #26
There is a discussion being happening about this here:
- https://github.com/meteor/meteor/pull/6171
- https://forums.meteor.com/t/how-open-source-meteor-really-is-if-pull-requests-are-not-getting-in/16483 (older thread)

[2016-02-09 17:38] mitar commented on #19
There is a discussion being happening about this here:
- https://github.com/meteor/meteor/pull/6171
- https://forums.meteor.com/t/how-open-source-meteor-really-is-if-pull-requests-are-not-getting-in/16483 (older thread)

[2016-02-09 17:58] raix commented on #19
Looks good @mitar I might start creating pr's again

[2016-02-18 18:27] nscarcella commented on #9
Is there any update on this? I really liked @mquandalle proposal and would love to have this feature.

[2016-02-18 18:31] mquandalle commented on #9
AFAIK there isn’t any update in the direction of CLI plugins.

[2016-03-03 15:20] maxenceC commented on #7
Any update on this ?

[2016-03-05 02:10] vib3oh commented on #7
+1

[2016-05-16 22:40] trusktr commented on #55
Another possibility could be to fork the `module` and `ecmascript` packages (not sure if exactly those packages, but for example) then add the flow checking step. Then, all that would be needed (supposing we forked and modified the correct packages):

[code]

(not sure which packages actually need to be forked, but just mentioning that the concept is probably not too hard to do)

[2016-06-14 14:40] wilau2 commented on #7
+1
updates ?

[2016-06-14 15:01] mikeifomin commented on #7
@wilau2 use ecmascript imports

example in coffeescript

[code]

So in Meteor 1.3+ packages You does not actual use api.addFile for all of templates/styles

Just create a single entrypoint in pacakge.js

[code]

[2016-08-05 07:18] mitar commented on #14
Does autopublish still work? https://github.com/Dogfalo/materialize/issues/3057

[2016-08-05 07:22] zimme commented on #14
I believe autopublish has been decommissioned

[2016-08-05 07:52] dandv commented on #14
Autopublish no longer works because meteor.com hosting was retired.

The guidance is to use npm packages directly with 1.3+, but the problem is this:

https://github.com/percolatestudio/atmosphere/issues/403

[2016-08-05 07:53] dandv commented on #60
Starting with Meteor 1.3, 3rd party libraries can be used directly from npmjs.

[2016-08-05 07:53] #60 closed

[2016-08-05 07:54] dandv commented on #67
Starting with Meteor 1.3, 3rd party libraries can be used directly from npmjs.

[2016-08-05 07:54] #67 closed

[2016-08-05 07:54] dandv commented on #70
Starting with Meteor 1.3, 3rd party libraries can be used directly from npmjs.

[2016-08-05 07:54] #70 closed

[2016-08-05 09:59] splendido commented on #14
yes guys, no more autopublish.meteor.com.
When they made the switch to *.meteorapp.com I got no offer for a free container to move autopublish onto Galaxy...
I mentioned this a couple times, but got no replies. This was a little sad...

[2016-08-05 18:09] mitar commented on #14
Have you applied here? http://go.meteor.com/PackageDemoGalaxyRequest-lp.html

[2016-09-02 20:10] vyky commented on #6
Hi @sferoze what you put on --server flag when you build meteor cordova client only?

[2016-09-18 11:18] ahmedtabrez commented on #7
:+1:

[2017-01-23 16:07] hwillson commented on #73
Since no has responded, I'll close this off (oh, and I've gotten so used to seeing `peerlibrary` in the Blaze Components package name that I don't want it to ever be changed! 😄 ).

[2017-07-01 21:12] stefanocudini commented on #7
+1

[2017-07-01 21:18] stefanocudini commented on #7
It's a good temporary solution?

[code]

[2017-10-04 00:38] jedwards1211 commented on #37
I suppose one hack would be to just run `localStorage.removeItem(Accounts.LOGIN_TOKEN_KEY)` after a successful login.

[2018-06-18 14:13] #58 closed

[2018-06-18 14:13] #53 closed

[2018-10-29 15:08] moonrockfamily commented on #30
Mitar;
Did you come up with a work-around to the startup performance issue?  Our collection has grown and our application is taking nearly 3 hours to startup while it finishes the initial observe!

[2018-10-29 15:31] mitar commented on #30
Sadly not.

[2018-10-29 15:31] mitar commented on #30
(Feel free to upvote this issue.)

[2018-10-29 16:49] moonrockfamily commented on #30
Do you know of any forks/hacks of the Meteor Mongo that we can swap in?

[2018-12-13 21:40] raix commented on #30
@mitar crazy that this issue is 4 years old in 5 days...
As I understand the issue you basically don't want to load all the documents - just hook into the oplog / query watcher right?

[2018-12-13 22:00] moonrockfamily commented on #30
## PeerDB references

Here are the current observing use cases causing initialization latency:
https://github.com/peerlibrary/meteor-peerdb/blob/master/lib.coffee#L763
https://github.com/peerlibrary/meteor-peerdb/blob/master/lib.coffee#L781
https://github.com/peerlibrary/meteor-peerdb/blob/master/lib.coffee#L891
https://github.com/peerlibrary/meteor-peerdb/blob/master/lib.coffee#L987

## workaroun

[2018-12-13 22:51] mitar commented on #30
@raix Yes. I only want/need reactivity part/API of the oplog, not the initial state of the documents.